@use '../themes/defaultTheme' as *;
@use '../util/variables' as *;
@use '../util/mixins' as *;

.section {
  width: 90vw;
  margin: 0 auto;
  max-width: $max-width;
  @include flex-center-column
}

@include large {
  .section {
    width: 95vw;
  }
}

.container {
  width: 90vw;
  margin: 5rem 0;
  max-width: $fixed-width;
  border-radius: $radius;
  background: $white;
  padding: 1.5rem 2rem;
  box-shadow: $dark-shadow;
  h3 {
    font-weight: normal;
    text-transform: none;
    margin-bottom: 3rem;
  }
  
}


